---
- include: dependencies/debian.yml
  when: ansible_os_family == 'Debian'

- include: dependencies/centos.yml
  when: ansible_distribution == "CentOS" or ansible_distribution == "Amazon"

- include: install-rbenv.yml

- include: plugins/ruby-build.yml

- include: plugins/rbenv-default-gems.yml

- include: install-ruby.yml

#- name: Make sure bundler is installed
#  raw: 'RBENV_ROOT={{ rbenv_path }} RBENV_VERSION={{ ruby_version }} {{ rbenv_path }}/bin/rbenv exec gem install bundler'
#  become: true
